:root {
  /* Brand */
  --color-brand: #4880ff;
  --color-brand-hover: #3d70e6;
  --color-brand-active: #3261cc;
  --color-brand-disabled: #3f4b63;;
  --color-secondary: #434343;

  /* Background */
  --color-background: #ffffff;
  --color-surface: #f8f9fa;
  --color-surface-hover: #f1f3f5;

  /* Text */
  --color-foreground: #202224;
  --color-text-secondary: #6b7280;
  --color-text-muted: #9ca3af;
  --color-text-disabled: #b2b2b2;

  /* Border */
  --color-border: #e5e7eb;
  --color-border-hover: #c6c2c2;
  --color-border-focus: #4880ff;

  /* Status */
  --color-success: #16a34a;
  --color-success-background: #d9f7e8;

  --color-warning: #f59e0b;
  --color-warning-background: #fff3d6;

  --color-error: #ea0234;
  --color-error-background: #ffe4e9;

  --color-info: #3b82f6;
  --color-info-background: #e5e4ff;

  /* Common */
  --color-white: #ffffff;
  --color-black: #000000;
}
:root.dark {
  /* Brand */
  --color-brand: #6d9aff;
  --color-brand-hover: #82a8ff;
  --color-brand-active: #5b89f0;
  --color-brand-disabled:  #b8c2d6;
  --color-secondary: #d1d5db;

  /* Background */
  --color-background: #111827;
  --color-surface: #1f2937;
  --color-surface-hover: #374151;

  /* Text */
  --color-foreground: #f9fafb;
  --color-text-secondary: #d1d5db;
  --color-text-muted: #9ca3af;
  --color-text-disabled: #6b7280;

  /* Border */
  --color-border: #374151;
  --color-border-hover: #4b5563;
  --color-border-focus: #6d9aff;

  /* Status */
  --color-success: #4ade80;
  --color-success-background: #14532d;

  --color-warning: #fbbf24;
  --color-warning-background: #78350f;

  --color-error: #fb7185;
  --color-error-background: #4c0519;

  --color-info: #60a5fa;
  --color-info-background: #172554;

  /* Common */
  --color-white: #ffffff;
  --color-black: #000000;
}
